.tasker {
        max-width: 400px;
        margin: 0 auto;
        /*background: rgb(147, 152, 158);    */
}

#heading{
        padding: 5px;
        font-size: 35px;
        text-align: center;
        background: rgba(39, 46, 139, 0.7);
        color: #fff;
        border-radius: 5px;


}

.tasker .error {
	background: rgba(81, 190, 241, 0.7);
	color: rgb(5, 5, 5);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	text-align: left;
        font-size: 22px;
}

.tasker-header {
        display: inline-flex;
        width: 100%;
        margin-bottom: 15px;
}

.tasker-header input {
        color: rgb(15, 15, 15);
        box-sizing: border-box;
        font-size: 15px;
        padding: 10px;
        flex-grow: 2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}

.tasker-header button {
        color: #fff;
        box-sizing: border-box;
        font-size: 15px;
        padding: 10px;
        background: #63d8c1;
        flex-grow: 0.2;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
}

ul {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        background: #fff;
}

li {
	margin-top: 10px;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	font: 18px/16px Helvetica, Arial, Sans-serif;
}

.tasker-body .task {
        display: block;
        position: relative;
        padding: 14px 40px 14px 14px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tasker-body input {
        margin-right: 10px;
}

.tasker-body button {
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        color: #cdcdcd;
        margin: 14px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
}

.task button:hover {
        color: #ed1c24;
}

.task:hover > button {
        opacity: 1;
}

.task .completed {
        color: #cdcdcd;
        text-decoration: line-through;
}

.task:last-child {
        border-bottom: none;
}
